body {
    background-image: url('../img/cartoon_castle.jpg');
    width: 60vw;
    padding-left: 20vw;
    text-align: center;
}

p {
    font-size: 40px;
    font-family: "Averia Serif Libre", 'Times New Roman', Times, serif;
    margin: 0;
    margin-top: 45vh;
    padding: 0;
}
