################################
# Build target and CMake files #
################################
**/cmake-build-default
**/cmake-build-debug
**/cmake-build-release
**/CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
stonefall
stonefall.cbp

#################################
# Every editor you can think of #
#################################
.idea
.vscode

########
# MISC #
########

.DS_Store
nohup.out
.settings
