################
# Build target #
################

/cmake-build-debug/

#################################
# Every editor you can think of #
#################################
.idea
.vscode

########
# MISC #
########

.DS_Store
nohup.out
.settings
