################################
# Build target and CMake files #
################################
/cmake-build-debug/
/CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
stonefall

#################################
# Every editor you can think of #
#################################
.idea
.vscode

########
# MISC #
########

.DS_Store
nohup.out
.settings
